body {
  font-family: Arial, sans-serif;
  background-color: #e6f7ff;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img.pokemon-image {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.pokemon-id {
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
}

.pokemon-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filters input,
.filters select {
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.filter-dropdown {
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le logo et le titre horizontalement */
  justify-content: center; /* Centrer verticalement */
  margin-bottom: 16px;
}

header img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 12px; /* Espacement entre le logo et le titre */
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center; /* Centrer le titre horizontalement */
}

section {
  margin-top: 32px;
}

h3,
h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 8px;
}
